In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv')

In [12]:
print(df)

     survived     sex   age  n_siblings_spouses  parch     fare   class  \
0           0    male  22.0                   1      0   7.2500   Third
1           1  female  38.0                   1      0  71.2833   First
2           1  female  26.0                   0      0   7.9250   Third
3           1  female  35.0                   1      0  53.1000   First
4           0    male  28.0                   0      0   8.4583   Third
..        ...     ...   ...                 ...    ...      ...     ...
622         0    male  28.0                   0      0  10.5000  Second
623         0    male  25.0                   0      0   7.0500   Third
624         1  female  19.0                   0      0  30.0000   First
625         0  female  28.0                   1      2  23.4500   Third
626         0    male  32.0                   0      0   7.7500   Third

        deck  embark_town alone
0    unknown  Southampton     n
1          C    Cherbourg     n
2    unknown  Southampton     y
3          C  Southampton     n
4    unknown   Queenstown     y
..       ...          ...   ...
622  unknown  Southampton     y
623  unknown  Southampton     y
624        B  Southampton     y
625  unknown  Southampton     n
626  unknown   Queenstown     y

[627 rows x 10 columns]

In [13]:
print(df.shape)

(627, 10)

In [14]:
df = df.select_dtypes(include=np.number)
print(df)

     survived   age  n_siblings_spouses  parch     fare
0           0  22.0                   1      0   7.2500
1           1  38.0                   1      0  71.2833
2           1  26.0                   0      0   7.9250
3           1  35.0                   1      0  53.1000
4           0  28.0                   0      0   8.4583
..        ...   ...                 ...    ...      ...
622         0  28.0                   0      0  10.5000
623         0  25.0                   0      0   7.0500
624         1  19.0                   0      0  30.0000
625         0  28.0                   1      2  23.4500
626         0  32.0                   0      0   7.7500

[627 rows x 5 columns]

In [15]:
print(df.mean())

survived               0.387560
age                   29.631308
n_siblings_spouses     0.545455
parch                  0.379585
fare                  34.385399
dtype: float64

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
model = LogisticRegression()

In [17]:
covariance_matrix = df.cov()
print(covariance_matrix)

                    survived         age  n_siblings_spouses     parch  \
survived            0.237736   -0.202201           -0.028028  0.033164
age                -0.202201  156.545580           -3.086114 -1.656695
n_siblings_spouses -0.028028   -3.086114            1.325007  0.393262
parch               0.033164   -1.656695            0.393262  0.628848
fare                6.721196   81.487116            8.659981  8.841228

                           fare
survived               6.721196
age                   81.487116
n_siblings_spouses     8.659981
parch                  8.841228
fare                2980.912176

In [18]:
correlation_matrix = df.corr()
print(correlation_matrix)

                    survived       age  n_siblings_spouses     parch      fare
survived            1.000000 -0.033145           -0.049938  0.085773  0.252478
age                -0.033145  1.000000           -0.214280 -0.166974  0.119287
n_siblings_spouses -0.049938 -0.214280            1.000000  0.430824  0.137795
parch               0.085773 -0.166974            0.430824  1.000000  0.204204
fare                0.252478  0.119287            0.137795  0.204204  1.000000

To source for a real world dataset for this project, I went to google and copy the url of the particular dataset I wanted.
I cleaned the dataset using pandas ascertaining the shape of the dataset. I preprocess it by removing some columns.
i analyzed the dataset using some statistical measures such as varaince and correlation.